;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

;; boilerplate
;; [:q]
;; [:w]
;; [:e]
;; [:r]
;; [:t]
;; [:y]
;; [:u]
;; [:i]
;; [:o]
;; [:p]
;; [:a]
;; [:s]
;; [:d]
;; [:f]
;; [:g]
;; [:h]
;; [:j]
;; [:k]
;; [:l]
;; [:z]
;; [:x]
;; [:c]
;; [:v]
;; [:b]
;; [:n]
;; [:m]
;; [:comma]
;; [:slash]
;; [:spacebar]
;; [:return_or_enter]
;; [:tab]
;; [:left_arrow]
;; [:right_arrow]
;; [:up_arrow]
;; [:down_arrow]
;; [:delete_or_backspace]
;; [:delete_forward]
;; [:caps_lock]
;; [:escape]

;; after making changes to this file, cm apply, and goku in order to see changes in karabiner file
;; not ideal to have to repeat "FSmode", [:anki :8bitdo], everytime, but i don't think there is a way around this.
{
  :profiles
    {:Main { :default true :sim 60 :delay 170 :alone 170 :held 170}}

  :templates {
    :open "open -a '%s'"
  } ;; templates

  :devices {
    :kb-apple [
        {:vendor_id 1452} ;;mbp16
        {:vendor_id 76}
    ]
    :8bitdo [
        {:vendor_id 11720} ;; :product_id 12848 (lite), :product_id 36897 (micro)
    ]
    :keychronq11 [
        {:vendor_id 13364}
    ]
  } ;; devices

  :applications {
    :chrome ["^com\\.google\\.Chrome$"]
    :safari ["^com\\.apple\\.Safari$"]
    :finder ["^com\\.apple\\.finder$"]
    :typora ["^abnerworks\\.Typora$"]
    :notes ["^com\\.apple\\.Notes$"]
    :fusion ["^com\\.apple\\.fusion$"]
    :anki ["^net\\.ankiweb\\.dtop$"]
  } ;;applications

  :main [
    {:des "Basic Modifications" :rules [
      [:!Sdelete_or_backspace :delete_forward]
      [:!Cd :!Ttab]
      [:!Sspacebar :1 :anki]
      [:!Rspacebar :1 :anki]
    ]}
    {:des "Simultaneous keys / Chording" :rules [
      [{:sim [:comma :slash] :modi {:optional [:any]}} :caps_lock]
      [[:f :j] :!Cspacebar]
      [[:d :b] :!Cmission_control]
      [[:d :g] :mission_control]
      [[:j :k] :!Odelete_or_backspace]
      [[:j :l] :return_or_enter]
      [[:f :tab] :!Stab]
      [[:z :c] :!Cc]
      [[:z :v] :!Cv]
      [[:f :k] :!!f]
      [[:f :q] :!Ctab]
    ]}
    {:des "Hyper" :rules [
      [:caps_lock :!CSOleft_control nil {:alone :escape}]
      [:right_command :!CSOleft_control nil {:alone :escape}]
      ;; [!!q]
      ;; [:!!w]
      ;; [:!!e]
      ;; [:!!r]
      ;; [:!!t]
      ;; [:!!y]
      [:!!u :!CSopen_bracket]
      [:!!i :!CSclose_bracket]
      [:!!o :!Oreturn_or_enter]
      [:!!p :!Obackslash]
      ;; [:!!a]
      [:!!s :delete_or_backspace]
      ;; [:!!d]
      ;; [:!!f]
      ;; [:!!g]
      [:!!h :left_arrow]
      [:!!j :down_arrow]
      [:!!k :up_arrow]
      [:!!l :right_arrow]
      ;; [:!!z]
      ;; [:!!x]
      [:!!c :button1]
      [:!!v :return_or_enter]
      [:!!b :!Ob]
      [:!!n :!Oleft_arrow]
      [:!!m :!Oright_arrow]
      ;; [:!!comma
      ;; [:!!period]
      ;; [:!!slash]
      [:!!delete_or_backspace :!Odelete_or_backspace]
    ]}

    {:des "F+S Simlayer" :rules [
      [{:sim[:f :s] :simo {:afterup {:set ["FSmode" 0]}}} ["FSmode" 1]]
      [:##spacebar :left_shift ["FSmode" 1]]
      [:##h :!Th ["FSmode" 1]]
      [:##j :!Tj ["FSmode" 1]]
      [:##k :!Tk ["FSmode" 1]]
      [:##l :!Tl ["FSmode" 1]]
      [:##d :!Oz ["FSmode" 1]]
      [:##n :!Oleft_arrow ["FSmode" 1]]
      [:##m :!Oright_arrow ["FSmode" 1]]
    ]}
    {:des "8bitdo anki goku" :rules [
      [:h :1                       [:anki :8bitdo]]
      [:h :tab                     [:!anki :8bitdo]]
      [:g :spacebar                [:anki :8bitdo]]
      [:g :return_or_enter         [:!anki :8bitdo]]
      [:j :2                       [:anki :8bitdo]]
      ;; [:j :fn                      [:!anki :8bitdo]]
      [:j :!Td                      [:!anki :8bitdo]]
      [:i :n                       [:anki :8bitdo]]
      [:i :right_arrow             [:!anki :8bitdo]]
      [:c :d                       [:anki :8bitdo]]
      [:c :right_arrow             [:!anki :8bitdo]]
      [:f :s                       [:anki :8bitdo]]
      [:f {:mkey {:vwheel 32}}     [:!anki :8bitdo]]
      [:d :tab                     [:anki :8bitdo]]
      [:d :left_arrow              [:!anki :8bitdo]]
      [:e :y                  [:anki :8bitdo]]
      [:e {:mkey {:vwheel -32}}    [:!anki :8bitdo]]
      [:o :h                       [:anki :8bitdo]]
      [:o :!Cd                     [:!anki :8bitdo]]
      [:n :!Ctab                   [:anki :8bitdo]]
      [:n :!Ctab                   [:!anki :8bitdo]]
      [:k :hyphen                       [:anki :8bitdo]]
      [:k :!Ca                     [:!anki :8bitdo]]
      [:m :u                       [:anki :8bitdo]]
      [:m :!Odelete_or_backspace   [:!anki :8bitdo]]
      [:s :!Cv                     [:!anki :8bitdo]]
    ]}
  ] ;;main
} ;;EOF
