[user]
	name = q
	email = phamousq@gmail.com
[push]
	autoSetupRemote = true
	default = simple
[branch]
	autosetupmerge = simple
[core]
	excludesFile = "{{ .chezmoi.homeDir }}/.gitignore_global"
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[color]
	ui = auto
